body{
    width: 100%;
}
.dashboard{
    height: 100vh;
}

.material{
    width: 95%;
}

.material-left{
    width: 50%;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 15px;
}
.material-right{
    width: 40%;
    background-color: whitesmoke;
    border-radius: 15px;
}