.header-main{
    height: 75px;
    /* width: 1163px; */
    background-color: #fefeff;
    border: 1px solid gray;
    border-radius: 0px 30px 0px 0px;
}

.top1{
    height: 75px;
    width: 100px;
}

.b1{
    height: 35px;
    width: 20px;
}

.top2{
    height: 75px;
    width: 208px;
}

.fimg{
    height: 20px;
    width: 20px;
}

.fa-solid{
    color: #70adc2;
}

.fa-plus{
    color: #000205;
}

.circle1{
    height: 45px;
    width: 45px;
}